@import "tailwindcss";

@mixin center {
  text-align: center;
}

body {
  background-color: rgb(242, 247, 251);
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  @include center;
}